<!--The content below is only a placeholder and can be replaced.-->
<!-- <h2>{{title}}</h2> -->

<!-- <app-cartoons></app-cartoons> -->

<div class="background">
    <div class="display_data"> 
        <ul class="nav">        
            <li><a routerLink="/register">注册</a></li>
            <li><a routerLink="/login">登录</a></li>
            <li><a routerLink="/cartoons">首页</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>

<!-- 这个表示路由的出口 --> 

<!-- <app-login></app-login> -->


<!-- <app-config></app-config> -->

