.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .cartoons {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
  }
  .cartoons li {
    display: block;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.3em;
    border-radius: 4px;
  }
  .cartoons li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .cartoons li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .cartoons .text {
    position: relative;
    top: -3px;
  }
  a{
    display: block;
    /* 只要我将a标签转化为块级元素就可以实现大面积点 */
  }
